[Unit]
Description=Run Beacon report to publish certificate
DefaultDependencies=no
Wants=sev-certificate-generator.service
After=sev-certificate-generator.service

[Service]
Type=oneshot
ExecStart=/usr/local/lib/scripts/beacon-report.sh
StandardOutput=journal
StandardError=journal
