# Target reached when the snp guest has launched.
# Job services should use: WantedBy=launch.target

[Unit]
Description=Launch stage

After=system.target
Requires=system.target

Wants=launch-done.service
After=launch-done.service
