# Target reached when all the other stages have completed.
# Job services should use: WantedBy=stop.target

[Unit]
Description=Stop stage

After=launch.target
Requires=launch.target

Wants=test-done.service
After=test-done.service
