[Unit]
Description=Announce that the boot was succesful for guest
DefaultDependencies=no
After=boot.target
Requires=boot.target


[Service]
Type=oneshot
ExecStart=/bin/echo boot-successful
StandardOutput=journal+console
StandardError=journal+console
